---

layout: default
title: Overview
class: overview
nav-order: 1

banner-title: British Airways Sale
banner-subtitle: Try not to rub it in...

intro: >
  <p class="p--lead">British Airways is set to make your long haul dreams come true this September with an enviable sale on routes to inspiring destinations. From the clatter of the roulette wheels in Las Vegas to the beatnik bars of San Francisco, it’s time to escape long haul – you’ll be the envy of your friends. Just try not to rub it in...</p>

---
{% assign destinations = site.data.destinations %}



{% for category in destinations %}

  {% include category-banner.html %}

  {% for destination in category.destinations %}
    {% include destination-section.html %}
  {% endfor %}

{% endfor %}



<section class="section--padding-large bg--partner-red invert-text align-center">
  <div class="row row--padding">
    <p><img src="{{site.baseurl}}/img/content/sale-banner.jpg" alt="Sale now on!" class="row--xxxthin"></p>
    <p class="p--lead">Tempted yet? Check out these offers and more on the British Airways page, with a variety of flight only and holiday deals to inspire your summer…</p>
    <a href="{{ site.campaign-link }}" class="btn btn--invert btn--large" id="tracking-footer-btn">Discover more</a>
  </div>
</section>

