---

layout: default
title: Overview
class: overview
nav-order: 1

banner-title: >
  Be the envy of your friends. Just try not to rub it in...

intro: >
  <p class="p--lead">British Airways are holding a sale that will see you jet-setting around the world in no time. Take advantage of these incredible discounted flights to some of the world’s most exclusive travel destinations, with a carrier that ensures only the most comfortable travel. Send your wanderlust reeling by browsing through the British Airways collection below...</p>

---
{% assign destinations = site.data.destinations %}



{% for section in destinations %}
  {% include destination-section.html %}
{% endfor %}



<section class="section--padding-large bg--partner-red invert-text align-center">
  <div class="row row--padding">
    <p class="p--lead">Tempted yet? Check out these offers and more on the British Airways page, with a variety of flight only and holiday deals to inspire your summer…</p>
    <a href="{{ site.campaign-link }}" class="btn btn--invert btn--large" id="tracking-footer-btn">Discover more</a>
  </div>
</section>

