<section class="section--padding destination" id="{{destination.class}}">

  <div class="row--thin row--columns-7-5 row--columns-vertical-align {% cycle '', 'row--columns-reverse' %}">

    <div class="destination__images row__column">

      <div class="destination__image bg-image bg-image--ratio bg-image--ratio-16-9 bg-image--xxlarge--ratio-16-9" style="background-image:url('{{ site.baseurl }}/img/content/{{ destination.class }}-1.jpg');"></div>

      <div class="row row--padding destination__images-small">
        <div class="destination__image bg-image bg-image--ratio bg-image--ratio-3-4" style="background-image:url('{{ site.baseurl }}/img/content/{{ destination.class }}-2.jpg');"></div>
        <div class="destination__image bg-image bg-image--ratio bg-image--ratio-16-9 bg-image--xxlarge--ratio-4-3" style="background-image:url('{{ site.baseurl }}/img/content/{{ destination.class }}-3.jpg');"></div>
      </div>

    </div>

    <div class="destination__content row__column row--padding">

      <h2 class="title title--medium title--bold">{{ destination.title }}</h2>

      <hr class="hr--left hr--margin-small">

      {{ destination.content }}

      {% for offer in destination.offers %}
        {% include offer.html %}
      {% endfor %}

    </div>

  </div>

</section>