<section class="section--padding-xxlarge destination" id="{{section.class}}" style="background-image:url({{site.baseurl}}/img/bg/{{section.class}}.jpg);">
  <div class="row">



    <div class="row__column destination__content">
      <h2 class="destination__title title title--large title--bold title--color">{{ section.title }}</h2>
      {{ section.content }}


      <hr>
      <h2 class="title title--smaller title--bold title--color">Getting there</h2>
      <!-- Main offer -->
      <hr>
      <h4 class="title title--tiny title--upper title--bold">{{ section.offer-title }}</h4>
      <p>
        From <span class="p--lead p--bolder">{{ section.price }}</span> {{ section.price-description }}<br>
        {{ section.travel-details }}
      </p>

    </div>



  </div>
</section>