<!-- TERMS AND CONDITIONS MODAL -->
<div class="js-modal modal is-closed" id="modal-terms-and-conditions">
  <div class="modal__wrap row row--xthin row--padding">
    <div class="modal__content">
      <div class="modal__item modal__item-column row--padding-vertical">

        <div class="modal__item__content">

          <div class="js-close-modal modal__close"></div>

          <h2 class="title title--small title--upper title--bold">Terms and conditions</h2>
          <hr />
          <p>
            Sale starts at 12:00 BST on 31 August 2017 and ends 23:59 BST 26 September 2017 and includes return flights to selected destinations in Euro Traveller, World Traveller, Club Europe and Club World from London Gatwick, London Heathrow and London City airports for selected travel periods. Limited promotional seats available. All travel periods for all destinations under promotion are shown on <a href="http://www.britishairways.com/offers/sale" target="_blank">ba.com</a>.
          </p>
          <p>
            All sale prices shown on <a href="http://www.britishairways.com/offers/sale" target="_blank">ba.com</a> are discounted from lowest price available in the 29 days before 30 August 2017. Prices include all taxes, fees and carrier charges and are correct as of the 22 August 2017. Sale fares must be booked between 12:00 BST 31 August 2017 and 23:59 BST 26 September 2017. Minimum and maximum booking periods apply to this offer and vary depending on the destination. Please check full terms and conditions at <a href="http://www.britishairways.com/information/legal/conditions-of-carriage" target="_blank">ba.com</a>
          </p>
          <p>
            All promotional flights and holidays are non-refundable. Flights booked are changeable for a £150 fee (plus any increase in the fare).  No changes are allowed on the day of departure. All holidays featured are ATOL protected under the British Airways Holidays number ATOL5985.
          </p>
          <p>
            All BA operated flights are governed by our <a href="http://www.britishairways.com/information/legal/conditions-of-carriage" target="_blank">Conditions of Carriage</a>
          </p>
          <p>
            For full terms and conditions visit <a href="http://www.britishairways.com/information/legal/conditions-of-carriage" target="_blank">ba.com</a>.  
          </p>

        </div>
      </div>
    </div>
  </div>
</div>