
{% assign destinations = site.data.destinations %}
<div class="intro">

  <section class="intro__content">
    <div class="row row--padding align-center">
      {{ page.intro }}
    </div>

    {% if destinations.size > 0 %}
    <div class="row align-center site-nav">
      {% for category in destinations %}
      {% for destination in category.destinations %}
      <span class="site-nav__item">
        <a class="site-nav__link" href="{{ site.baseurl }}/#{{destination.class}}">{{destination.title}}</a>
      </span>
      {% endfor %}
      {% endfor %}
    </div>
    {% endif %}

  </section>

</div>

