.card {
  @include transition();
  display: block;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 0 0px 1px rgba(0,0,0,0.1);
  &:hover { box-shadow: 0 0 10px 1px rgba(0,0,0,0.1); }

  &:not(:last-child){ margin-bottom: 1em; }



  &__content {
    padding: 0.6em 1em;
    border-top: 1px solid $light-grey;
    .card--small & { padding: 0.6em; }
    @include bp(large){
      padding: 1em 1.2em;
      .card--small & { padding: 1em; }
    }
  }

  &__footer {
    position: relative;
    padding: 0.66em 1em;
    padding-right: 4em;
    border-top: 1px solid $light-grey;
    .card--small & { padding: 0.66em; }
    @include bp(large){
      padding: 1em 1.5em;
      .card--small & { padding: 1em; }
    }
  }

  // SMALL VARIANT
  &--small {
    display: flex;
    flex-direction: row;
    align-items: center;
    .card__image { width: 33.333%; float: left; }
    .card__content { width: 66.667%; text-align: left; }
  }
}